// Morph 5.3.2
$min-contrast-ratio: 1.5 !default;
$enable-shadows: true !default;
$border-radius-pill: 50rem !default;
$box-shadow: 5px 5px 10px rgba(darken($body-bg, 50%), .2), -5px -5px 10px rgba($white, .4) !default;
$box-shadow-sm: 0 .125rem .25rem rgba(darken($body-bg, 50%), .2) !default;
$box-shadow-lg: 8px 8px 40px rgba(darken($body-bg, 90%), .15) !default;
$box-shadow-inset: inset 2px 2px 8px rgba(darken($body-bg, 50%), .3), inset -3px -2px 5px rgba($white, .8) !default;
$text-muted: lighten($body-color, 15%) !default;
$input-btn-padding-y: 1rem !default;
$input-btn-padding-x: 1.5rem !default;
$btn-padding-y-lg: 1.5rem !default;
$btn-padding-x-lg: 2.25rem !default;
$btn-box-shadow: $box-shadow !default;
$btn-border-radius: $border-radius-pill !default;
$btn-border-radius-sm: $border-radius-pill !default;
$btn-border-radius-lg: $border-radius-pill !default;
$input-placeholder-color: $text-muted !default;
$form-switch-color: $white !default;
$form-switch-focus-color: $form-switch-color !default;
$form-select-indicator-color: $body-color !default;
$form-select-box-shadow: $box-shadow-inset !default;
$form-range-track-bg: rgba(darken($body-bg, 50%), .15) !default;
$form-range-thumb-bg: $gray-100 !default;
$form-range-thumb-active-bg: $form-range-thumb-bg !default;
$form-range-thumb-disabled-bg: $gray-200 !default;
$form-file-button-bg: $gray-100 !default;
$nav-link-color: $body-color !default;
$nav-link-hover-color: $nav-link-color !default;
$nav-link-disabled-color: $text-muted !default;
$nav-tabs-border-radius: 0 !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-bg: $primary !default;
$navbar-dark-disabled-color: rgba($white, .25) !default;
$navbar-light-disabled-color: $text-muted !default;
$dropdown-border-color: transparent !default;
$dropdown-box-shadow: $box-shadow-lg, inset 1px 1px 3px rgba($white, .5), inset -5px -5px 20px rgba($black, .05) !default;
$dropdown-link-hover-color: $gray-800 !default;
$dropdown-link-hover-bg: transparent !default;
$pagination-padding-y: 1rem !default;
$pagination-padding-x: .75rem !default;
$pagination-padding-y-sm: .5rem !default;
$pagination-padding-y-lg: 1.5rem !default;
$pagination-active-color: darken($pagination-color, 20%) !default;
$pagination-active-bg: transparent !default;
$pagination-disabled-color: $text-muted !default;
$pagination-disabled-bg: $pagination-bg !default;
$card-spacer-y: 1.5rem !default;
$card-spacer-x: 1.5rem !default;
$tooltip-color: $body-color !default;
$tooltip-bg: $dropdown-bg !default;
$popover-bg: $dropdown-bg !default;
$popover-header-bg: transparent !default;
$badge-padding-y: .75em !default;
$badge-padding-x: 1.25em !default;
$list-group-hover-bg: transparent !default;
$list-group-active-color: $link-color !default;
$list-group-active-bg: transparent !default;
$list-group-disabled-color: $text-muted !default;
$list-group-disabled-bg: transparent !default;
$list-group-action-active-color: $link-color !default;
$list-group-action-active-bg: transparent !default;
$breadcrumb-padding-y: $pagination-padding-y !default;
$breadcrumb-padding-x: $pagination-padding-x !default;
$breadcrumb-divider-color: $text-muted !default;
$breadcrumb-active-color: $link-color !default;