// Flatly 5.3.2
$min-contrast-ratio: 2.05 !default;
$table-bg-scale: 0% !default;
$dropdown-border-color: $gray-400 !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $primary !default;
$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: 2rem !default;
$nav-link-disabled-color: $gray-600 !default;
$nav-tabs-border-color: $dropdown-border-color !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color: $success !default;
$nav-tabs-link-active-border-color: $nav-tabs-link-hover-border-color !default;
$navbar-padding-y: 1rem !default;
$navbar-dark-brand-color: $white !default;
$navbar-dark-brand-hover-color: $navbar-dark-hover-color !default;
$pagination-border-width: 0 !default;
$pagination-border-color: transparent !default;
$pagination-hover-color: $white !default;
$pagination-hover-border-color: transparent !default;
$pagination-active-bg: $pagination-hover-bg !default;
$pagination-active-border-color: transparent !default;
$pagination-disabled-color: $gray-200 !default;
$pagination-disabled-bg: lighten($success, 15%) !default;
$pagination-disabled-border-color: transparent !default;
$list-group-hover-bg: $gray-200 !default;
$list-group-disabled-bg: $gray-200 !default;
$breadcrumb-padding-y: .375rem !default;
$breadcrumb-padding-x: .75rem !default;
$breadcrumb-border-radius: .25rem !default;
$btn-close-opacity: .4 !default;
$btn-close-hover-opacity: 1 !default;