// Simplex 5.3.2
$min-contrast-ratio: 2.8 !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $primary !default;
$nav-link-padding-y: .9rem !default;
$nav-link-disabled-color: $gray-400 !default;
$nav-tabs-border-color: darken(#fff, 6.5%) !default;
$pagination-border-color: $nav-tabs-border-color !default;
$pagination-hover-color: $white !default;
$pagination-hover-border-color: $primary !default;
$pagination-disabled-color: $gray-400 !default;
$pagination-disabled-border-color: $pagination-border-color !default;
$list-group-disabled-bg: $nav-tabs-border-color !default;
$breadcrumb-padding-y: .375rem !default;
$breadcrumb-padding-x: .75rem !default;
$breadcrumb-border-radius: .25rem !default;