// Quartz 5.3.2
$min-contrast-ratio: 1.5 !default;
$spacer: 2rem !default;
$border-radius: .5rem !default;
$border-radius-sm: .6rem !default;
$border-radius-lg: .7rem !default;
$border-radius-pill: 50rem !default;
$box-shadow: 1px 3px 24px -1px rgba($black, .15) !default;
$box-shadow-sm: 0 1px 1px rgba($black, .1) !default;
$text-muted: rgba($white, .7) !default;
$table-dark-bg: $dark !default;
$table-dark-border-color: darken($dark, 5%) !default;
$table-bg-scale: 0% !default;
$input-btn-padding-y: .75rem !default;
$input-btn-padding-x: 1.5rem !default;
$btn-box-shadow: $box-shadow !default;
$input-disabled-bg: rgba($white, .1) !default;
$input-border-width: 1px !default;
$input-focus-border-color: $input-border-color !default;
$input-focus-box-shadow: none !default;
$input-placeholder-color: $text-muted !default;
$form-select-disabled-color: $input-placeholder-color !default;
$form-select-disabled-bg: $input-disabled-bg !default;
$form-switch-color: $white !default;
$form-switch-focus-color: $form-switch-color !default;
$form-check-input-bg: rgba($white, .3) !default;
$form-check-input-border: 1px solid $border-color !default;
$form-select-indicator-color: $white !default;
$form-select-focus-box-shadow: none !default;
$form-range-track-bg: rgba($black, .2) !default;
$nav-link-disabled-color: $text-muted !default;
$nav-tabs-border-width: 0 !default;
$nav-tabs-border-radius: 0 !default;
$nav-tabs-link-active-color: $gray-800 !default;
$nav-tabs-link-active-bg: $white !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;
$nav-pills-border-radius: $border-radius-pill !default;
$nav-pills-link-active-color: $white !default;
$nav-pills-link-active-bg: $primary !default;
$dropdown-border-color: $border-color !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: rgba($white, .4) !default;
$pagination-border-width: 0 !default;
$pagination-focus-color: $white !default;
$pagination-focus-bg: $dropdown-link-hover-bg !default;
$pagination-focus-box-shadow: none !default;
$pagination-hover-color: $white !default;
$pagination-disabled-color: $text-muted !default;
$pagination-disabled-bg: $pagination-bg !default;
$card-spacer-y: 1.75rem !default;
$card-spacer-x: 2rem !default;
$card-cap-color: $white !default;
$card-color: $white !default;
$accordion-button-bg: $secondary !default;
$accordion-button-active-bg: $primary !default;
$accordion-button-active-color: $white !default;
$tooltip-opacity: .7 !default;
$list-group-color: $white !default;
$list-group-border-width: 0 !default;
$list-group-hover-bg: $dropdown-link-hover-bg !default;
$list-group-disabled-color: $text-muted !default;
$list-group-action-color: $white !default;
$list-group-action-hover-color: $white !default;
$breadcrumb-divider-color: $white !default;
$breadcrumb-active-color: $white !default;