// Slate 5.3.2
$primary-bg-subtle: lighten($gray-800, 10%) !default;
$min-contrast-ratio: 1.95 !default;
$table-color: $white !default;
$table-accent-bg: rgba($white, .05) !default;
$table-hover-bg: rgba($white, .075) !default;
$table-border-color: rgba($black, .6) !default;
$table-dark-border-color: $table-border-color !default;
$table-dark-color: $white !default;
$table-bg-scale: 0% !default;
$input-btn-padding-y: .75rem !default;
$input-btn-padding-x: 1rem !default;
$input-group-addon-color: $gray-500 !default;
$input-disabled-color: $gray-600 !default;
$input-disabled-bg: #ccc !default;
$form-check-input-bg: $white !default;
$form-select-disabled-bg: $input-disabled-bg !default;
$form-select-disabled-color: $input-disabled-color !default;
$dropdown-border-color: rgba($black, .6) !default;
$dropdown-divider-bg: rgba($black, .15) !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $body-bg !default;
$dropdown-link-active-color: $dropdown-link-hover-color !default;
$dropdown-link-active-bg: $dropdown-link-hover-bg !default;
$nav-tabs-border-color: rgba($black, .6) !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;
$navbar-padding-y: 0 !default;
$pagination-border-color: rgba($black, .6) !default;
$pagination-hover-color: $white !default;
$pagination-hover-border-color: rgba($black, .6) !default;
$pagination-active-bg: transparent !default;
$pagination-active-border-color: rgba($black, .6) !default;
$pagination-disabled-bg: transparent !default;
$pagination-disabled-border-color: rgba($black, .6) !default;
$accordion-bg: lighten($body-bg, 5%) !default;
$accordion-border-color: $table-border-color !default;
$accordion-button-active-color: $white !default;
$list-group-color: $white !default;
$list-group-item-bg-scale: 0% !default;
$list-group-hover-bg: lighten($body-bg, 10%) !default;
$list-group-active-color: $white !default;
$list-group-active-bg: $list-group-hover-bg !default;
$list-group-active-border-color: $list-group-border-color !default;
$list-group-disabled-color: $gray-700 !default;
$list-group-action-color: $white !default;
$breadcrumb-padding-y: .375rem !default;
$breadcrumb-padding-x: .75rem !default;
$breadcrumb-active-color: $gray-500 !default;
$breadcrumb-border-radius: .25rem !default;
$pre-color: inherit !default;