// Cosmo 5.3.2
$min-contrast-ratio: 2.25 !default;
$table-color: $white !default;
$table-accent-bg: rgba($white, .05) !default;
$table-hover-bg: rgba($white, .075) !default;
$table-border-color: $gray-700 !default;
$table-dark-bg: $gray-500 !default;
$table-dark-border-color: darken($gray-500, 7.5%) !default;
$table-bg-scale: 0% !default;
$input-btn-padding-x: 1rem !default;
$input-disabled-bg: $gray-400 !default;
$input-border-width: 0 !default;
$input-group-addon-color: $white !default;
$input-group-addon-border-color: transparent !default;
$form-check-input-bg: $white !default;
$form-check-input-border: none !default;
$form-file-button-color: $input-group-addon-color !default;
$form-file-button-bg: $input-group-addon-bg !default;
$form-file-button-hover-bg: darken($form-file-button-bg, 2%) !default;
$dropdown-divider-bg: $gray-800 !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $primary !default;
$nav-tabs-border-color: $table-border-color !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-bg: $nav-tabs-border-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;
$pagination-border-color: transparent !default;
$pagination-hover-color: $white !default;
$pagination-hover-border-color: $pagination-border-color !default;
$pagination-disabled-bg: $pagination-bg !default;
$pagination-disabled-border-color: $pagination-border-color !default;
$tooltip-opacity: 1 !default;
$popover-bg: $gray-700 !default;
$toast-color: $white !default;
$toast-background-color: $gray-800 !default;
$toast-border-color: $gray-700 !default;
$toast-header-color: $body-color !default;
$toast-header-background-color: $toast-background-color !default;
$toast-header-border-color: $toast-border-color !default;
$progress-bg: $gray-700 !default;
$list-group-color: $white !default;
$list-group-hover-bg: $primary !default;
$list-group-disabled-bg: $gray-700 !default;
$list-group-action-color: $white !default;
$list-group-action-active-bg: $primary !default;
$breadcrumb-padding-y: .375rem !default;
$breadcrumb-padding-x: .75rem !default;
$breadcrumb-border-radius: .25rem !default;
$btn-close-opacity: .6 !default;
$btn-close-hover-opacity: 1 !default;
$pre-color: inherit !default;