// Lux 5.3.2
$min-contrast-ratio: 2.3 !default;
$enable-rounded: false !default;
$table-border-color: rgba(0, 0, 0, .05) !default;
$h6-font-size: .75rem !default;
$input-btn-border-width: 0 !default;
$btn-line-height: 1.5rem !default;
$input-btn-padding-y: .75rem !default;
$input-btn-padding-x: 1.5rem !default;
$input-btn-padding-y-sm: .5rem !default;
$input-btn-padding-x-sm: 1rem !default;
$input-btn-padding-y-lg: 2rem !default;
$input-btn-padding-x-lg: 2rem !default;
$input-line-height: 1.5 !default;
$input-disabled-bg: $gray-300 !default;
$form-select-disabled-color: $gray-600 !default;
$form-select-disabled-bg: $input-disabled-bg !default;
$navbar-padding-y: 1.5rem !default;
$pagination-border-color: transparent !default;
$pagination-hover-border-color: $pagination-border-color !default;
$pagination-disabled-border-color: $pagination-border-color !default;