// Solar 5.3.2
$min-contrast-ratio: 2.5 !default;
$table-accent-bg: rgba($white, .05) !default;
$table-hover-bg: rgba($white, .075) !default;
$table-border-color: $component-active-bg !default;
$table-dark-bg: $gray-500 !default;
$table-dark-border-color: darken($gray-500, 3%) !default;
$table-dark-color: $body-bg !default;
$table-bg-scale: 0% !default;
$input-disabled-color: $gray-100 !default;
$input-disabled-bg: $gray-600 !default;
$input-placeholder-color: #657b83 !default;
$input-group-addon-color: $gray-600 !default;
$form-select-disabled-color: $gray-700 !default;
$form-select-disabled-bg: $input-disabled-bg !default;
$form-check-input-bg: rgba(255, 255, 255, .75) !default;
$form-check-input-border: 1px solid $white !default;
$form-check-input-checked-bg-color: $primary !default;
$dropdown-divider-bg: $body-bg !default;
$dropdown-link-hover-color: rgba(255, 255, 255, .75) !default;
$dropdown-link-hover-bg: $body-bg !default;
$nav-tabs-border-color: $gray-800 !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $component-active-color !default;
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;
$pagination-border-color: $gray-800 !default;
$pagination-hover-border-color: $gray-800 !default;
$pagination-active-color: rgba(255, 255, 255, .75) !default;
$pagination-active-bg: $gray-800 !default;
$pagination-active-border-color: $gray-800 !default;
$pagination-disabled-color: $gray-800 !default;
$pagination-disabled-bg: transparent !default;
$pagination-disabled-border-color: $gray-800 !default;
$list-group-color: $white !default;
$list-group-hover-bg: $gray-800 !default;
$list-group-active-color: $white !default;
$list-group-disabled-color: $gray-600 !default;
$list-group-disabled-bg: transparent !default;
$list-group-action-color: $body-color !default;
$list-group-action-hover-color: $white !default;
$breadcrumb-padding-y: .375rem !default;
$breadcrumb-padding-x: .75rem !default;
$breadcrumb-active-color: $gray-500 !default;
$breadcrumb-border-radius: .25rem !default;
$pre-color: inherit !default;