// Materia 5.3.2
$min-contrast-ratio: 2.15 !default;
$enable-gradients: true !default;
$input-btn-padding-y: .8rem !default;
$input-btn-padding-x: 1rem !default;
$input-padding-y: 1rem !default;
$input-padding-x: 0 !default;
$input-padding-y-sm: 0 !default;
$input-padding-x-sm: 0 !default;
$input-padding-y-lg: ($font-size-base * 1.25) !default;
$input-padding-x-lg: 0 !default;
$input-disabled-bg: transparent !default;
$input-border-width: 0 !default;
$input-border-radius: 0 !default;
$input-border-radius-lg: 0 !default;
$input-border-radius-sm: 0 !default;
$input-placeholder-color: rgba(0, 0, 0, .4) !default;
$nav-link-disabled-color: $gray-500 !default;
$nav-tabs-border-color: transparent !default;
$navbar-padding-y: 1rem !default;
$card-border-width: 0 !default;
$card-border-color: transparent !default;
$tooltip-bg: $gray-700 !default;
$progress-height: .375rem !default;
$progress-border-radius: 0 !default;
$btn-close-opacity: .6 !default;
$btn-close-hover-opacity: 1 !default;