// Journal 5.3.2
$min-contrast-ratio: 1.28 !default;
$headings-line-height: 1.1 !default;
$input-btn-padding-x: 1rem !default;
$pagination-hover-color: $white !default;
$pagination-hover-border-color: $primary !default;