// Vapor 5.3.2
$min-contrast-ratio: 1.2 !default;
$border-radius: .15rem !default;
$border-radius-sm: .05rem !default;
$text-muted: rgba($body-color, .3) !default;
$blockquote-footer-color: $text-muted !default;
$table-color: $white !default;
$table-bg-scale: 0% !default;
$input-disabled-color: $gray-500 !default;
$input-disabled-bg: lighten($body-bg, 5%) !default;
$input-placeholder-color: rgba($white, .4) !default;
$form-select-disabled-color: $input-placeholder-color !default;
$form-select-disabled-bg: $input-disabled-bg !default;
$form-file-button-bg: $input-group-addon-bg !default;
$form-file-button-hover-bg: darken($form-file-button-bg, 2%) !default;
$form-range-track-bg: $input-bg !default;
$form-range-thumb-disabled-bg: $purple !default;
$nav-link-disabled-color: $text-muted !default;
$nav-tabs-link-active-color: $component-active-bg !default;
$dropdown-link-hover-bg: rgba($white, .15) !default;
$pagination-focus-bg: transparent !default;
$pagination-disabled-color: $text-muted !default;
$pagination-disabled-bg: transparent !default;
$card-border-width: 2px !default;
$card-cap-color: $white !default;
$card-color: $white !default;
$tooltip-opacity: 1 !default;
$popover-bg: $primary !default;
$popover-header-color: $white !default;
$popover-body-color: $white !default;
$toast-color: $white !default;
$toast-background-color: $primary !default;
$toast-header-color: $toast-color !default;
$toast-header-background-color: $toast-background-color !default;
$modal-content-color: $white !default;
$progress-bg: $input-disabled-bg !default;
$list-group-color: $white !default;
$list-group-hover-bg: $pink !default;
$list-group-disabled-color: $text-muted !default;
$list-group-action-color: $body-color !default;
$list-group-action-hover-color: $white !default;
$list-group-action-active-bg: $list-group-hover-bg !default;
$breadcrumb-divider-color: $text-muted !default;
$breadcrumb-active-color: $component-active-bg !default;